main > .container {
    padding: 70px 15px 20px;
    background-color: #FAFAFA;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.header{
    margin-bottom: 2rem;
}
.header-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e3ebf6;
}

.header-titulo {
    margin-bottom: 0;
}

.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}

.icon-size{
    font-size: 2rem;
}

.is-button{
    font-size: 1.2rem;
}

.row-space{
    padding-bottom: 2.5rem;
}

.nav-text{
    color:#fff;
    font-size: 1rem;
}

.nav-items{
    margin:1rem 1rem 1rem 1rem;
    align-items: center;
}

/*Propiedades animadas para los botones*/
.btn-primary,
.btn-primary:visited{
    background-color: #004139 !important;
    border-color: #004139 !important;
    box-shadow: 0 0.2rem 0.27rem rgb(0 0 0 / 15%) !important;
}

.btn-primary:hover{
    background-color: #00594d !important;
    border-color: #00594d !important;
    border: 0.1rem solid #00594d !important;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 15%) !important;
}

.btn-primary:active{
    background-color: #00594d !important;
    border: 1px solid #00594d !important;
    box-shadow: 0 0.2rem 0.27rem rgb(0 0 0 / 15%) !important;
}

#content {
    width: 99%;
    padding: 0;
    min-height: 100vh;
    background-color: #F6F3ED;
}

.leftbar {
    display: block;
    max-width: 60px;
    height: 100%;
    background: #004139;
    box-shadow: 0 0.2rem 0.27rem rgb(0 0 0 / 15%) !important;    
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.nav-small{
    display: inline;
    font-size: 1rem;    
}

.nav-big{
    display:none;
}

body{
    font-family: 'roboto';
}



.button-link{
    border: none;
    background-color: #FFFFFF;
    color: #4470E3;
}

.table-color{
    background-color: #004139;
    color: white;
    padding: 10px;
}

.panel-title{
    margin: 2px;
}

.burger-open-button{
    display: none;
    margin: 5px;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 22px;
    z-index: 101;
}

.burger-close-button{
    display: none;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    z-index: 101;
}

.list-link{
    color: #004139;
    display: inline;
}

.list-link:hover{
    color: #00594d;
}

.cajon-datos{
    text-align: right;
    font-size: 2rem;
}
.cajon{
    min-height: 106px;
    align-items: center;
}
.arreglo{
    padding-bottom: 3px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-content{
    background: rgba(255, 255, 255, 0.466);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.500);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.header-modal-extendido{
    background: rgba(0, 65, 57, 0.766);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.500);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    align-items: center;
    width: 100%;
    max-height: fit-content;
}

.title-modal-extendido{
    color:#ffffff;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    text-transform: uppercase;
}

.boton-cerrar-modal{
    color: #ffffff;
    font-size: 3rem;
}

.boton-cerrar-modal:hover{
    color: #e3ebf6;
    font-size: 3rem;
    text-decoration:none;
}

.modal-body-extendido{
    
}

.form-text{
    color: black;
    font-size: 15px;
}

#active{
    display: inline;
}

.web{
    display: block;
}

.card-header-extendido{
    color: #FFFFFF;
    background-color: #004139;
}

.texto-formularios{
    font-size: 20px;
    color:#004139;
    text-transform: uppercase;
}

@media screen and (max-width: 480px){
    .burger-open-button{
        display:block;
    }

    .nav-small{
        display: none;
    }

    .nav-big{
        display: block;
    }
  
    .leftbar{
        display: none;
        position: absolute;
        text-align: left;
        align-content: center;
        min-width: 100%;
        z-index: 100;
    }

    .nav-text{
        margin-left: 40px;
        font-size: 28px;
    }

    #content{
        padding-top: 4rem;
        width: 100%;
    }

    .datos{
        display: block;
        margin-bottom: 2rem;
    }

    #active{
        display: none;
    }

    .web{
        display: none;
    }

    #menu-on{
        width: 100%;
        padding-top: 30px;
    }
}